<web-app>
    <servlet>
        <display-name>Company Service</display-name>
        <servlet-name>company.ApplicationConfig</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.ApplicationConfig</param-name>
            <param-value>company.ApplicationConfig</param-value>
        </init-param>
    </servlet>
</web-app>
